<!DOCTYPE html>
{% load static %}
<html>
<head>
    <link rel="stylesheet" href="{% static 'images/styles.css' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<title> Perfect Aromas</title>
<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'Perfumes')">Perfumes</button>
  <button class="tablinks" onclick="openCity(event, 'Candles')">Candles</button>
  <button class="tablinks" onclick="openCity(event, 'Accessories')">Accessories</button>
  <button class="tablinks" onclick="openCity(event, 'Clothing')">Clothing</button>
  <button class="tablinks" onclick="openCity(event, 'Donations')">Donations</button>
</div>
<!-- Add Contens to Tabs -->

<body>
    <h1> Perfect Aromas</h1>
    <p><strong>QUEEN</strong></p>
    <p>Sky has a kind soul, of <strong>intillectual</strong> mind, has a big heart for the people around her(but dont get it wrong she is no pushover). To keep it short to know her and have her in your life is a blessing of sorts.</p>
  </body>
</html>
